.recording-quick-actions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--margin-1);
    width: 100%;
    height: 100%;
}

.recording-quick-actions .card {
    width: 100%;
    height: 100%;
}
