.home-top-section {
    display: flex;
    gap: var(--gap-1);
    width: 100%;
    margin-bottom: var(--margin-2);
}

.home-top-left {
    flex: 2;
    min-width: 0;
    width: 100%;
}

.home-top-right {
    flex: 1;
    min-width: 300px;
    width: 100%;
}

@media (max-width: 768px) {
    .home-top-section {
        flex-direction: column;
    }
}
